.driver{
    flex: 4;
    padding: 20px;
}

.userTitleContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.driverAddButton{
    width: 80px;
    border: none;
    padding: 5px;
    background-color: teal;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
}

.driverContainer{
    display: flex;
    margin-top: 20px;
}

.driverShow{
    flex: 1;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75); 
    box-shadow: 0px 0px 15px -10px  rgba(0, 0, 0, 0.75);
}

.driverUpdate{
    flex: 2;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75); 
    box-shadow: 0px 0px 15px -10px  rgba(0, 0, 0, 0.75);
    margin-left: 20px;
}

.driverShotTop{
    display: flex;
    align-items: center;
}

.driverShowImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.driverShowTopTitle{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.userShowUsername{
    font-weight: 600;
}

.userShowUserTitle{
    font-weight: 300;
}

.driverShotBottom{
    margin-top: 20px;
}

.driverUserTitle{
    font-size: 14px;
    font-weight: 600;
    color: rgba(175, 170, 170);
}

.driverShowInfo{
    display: flex;
    align-items: center;
    margin: 20px 0px;
    color: #444;
}

.driverShowIcon{
    font-size: 16px !important;

}

.driverShowInfoTitle{
    margin-left: 10px;

}

.driverUpdateTitle{
    font-size: 24px;
    font-weight: 600;
}

.driverUpdateForm{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

}

.driverUpdateItem{
    display: flex;
    flex-direction: column;
    margin-top: 10px; 
}

.driverUpdateItem>label{
    margin-bottom: 5px;
    font-size: 14px;
}

.driverUpdateInput{
    border: none;
    width: 250px;
    height: 30px;
    border-bottom: 1px solid gray;
}
  
.driverUpdateRight{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.driverUpdateUpload{
    display: flex;
    align-items: center;
}

.driverUpdateImg{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    margin-left: 20px;

}

.userUpdateIcon{
    cursor: pointer;
}

.driverUpdateButton{
    border-radius: 5px;
    border: none;
    padding: 5px;
    cursor: pointer;
    background-color: darkblue;
    color: white;
    font-weight: 600;
}

